.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 0;
  height: auto;
  min-height: 33px;
  margin-top: 17px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 17px 301px 0 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(235, 186, 22) !important;
}

.u-section-1 .u-custom-html-2 {
  margin-bottom: 60px;
  margin-top: 50px;
  height: auto;
  min-height: 25px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.result_table {
  margin-left: auto;
  margin-right: auto;
}