{% extends "base.html" %}
{% block title %}Configuration{% endblock %}
{% block css_stylesheet %}
<link href='../static/css/conf.css' rel='stylesheet' type='text/css'>{% endblock %}
{% block content %}

<h4>Configuration :</h4>

<form class="settings-form" action="{{ url_for('config')}}" method="post">
    <div class="tmdb-settings">
        <br>
        <span>TMDB's language (Current is {{settings['tmdb_language']}}):</span>
        <select class="form-select" aria-label="tmdb_lang" name="tmdb_lang">
            <option value="FR">FR</option>
            <option value="EN">EN</option>
        </select>
        <br>
        <span>Tmdb API key:</span>
        <input class="form-control" type="text" placeholder="{{settings['tmdb_api_key']}}" aria-label="tmdb api key"
            name="tmdb_api_key">
        <br>
    </div>

    <div class="qbittorrent-settings">
        <h5>qBittorrent :</h5>
        <br>
        <span>IP address of the qBittorrent WebUI:</span>
        <input class="form-control" type="text" placeholder="{{settings['qbittorrent_webui']['ip']}}" aria-label="qb ip"
            name="qb_ip">

        <span>Port of the qBittorrent WebUI:</span>
        <input class="form-control" type="text" placeholder="{{settings['qbittorrent_webui']['port']}}"
            aria-label="qb port" name="qb_port">

        <label>WebUI username :</label>
        <input class="form-control" type="text" value="{{settings['qbittorrent_webui']['credentials']['username']}}"
            aria-label="qb username" name="qb_username">

        <label>WebUI password :</label>
        <input type="password" class="form-control" type="text"
            value="{{settings['qbittorrent_webui']['credentials']['password']}}" aria-label="qb password"
            name="qb_password">

        <label>Torrents save path :</label>
        <input class="form-control" type="text" value="{{settings['default_saving_path']}}"
            aria-label="torrent filepath" name="file_path">
        <br>
        <div class="form-check form-switch rest_search">
            <!--{% if settings['strict_search'] %}-->
            {% if settings['strict_search'] == ("on") %}
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="restrictive" value="on"
                checked>
            {% else %}
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="restrictive" value="off">
            {% endif %}
            <!--<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="restrictive" checked>-->
            <!--{% endif %}-->
            <label class="form-check-label" for="flexSwitchCheckChecked">Restrictive search</label>
        </div>
    </div>
    <br>

    <input class="apply_btn"name="apply-btn" type="submit" value="Apply changes">
</form>


{% endblock %}